
/*section*/

.aclaracion{
    grid-area: section;
    padding: 30px 50px;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to top, rgb(229, 209, 250), rgb(255, 244, 210), rgb(229, 209, 250));
}